/* 본문 글 첫 글자를 크게 보여주는 스타일 (드롭캡) */
.first-letter {
	font-family: "Noto Serif Display";
	font-size: 4rem;
	float: left;
}

/* 블로그 글 제목 굵기 */
.content .blog-post-title {
	font-weight: 600;
}

/* 목록(list) 좌측 여백 제거 */
ul li {
	margin-left: 0rem;
}

/* 상단 네비게이션 메뉴 여백 */
.nav li {
	padding: 0 0rem 0 1rem;
}

/* 본문 콘텐츠 글자 크기/줄간격 */
.content .markdown {
	font-size: 1.0625rem;
	line-height: 2rem;
}
