{{ define "main" }} 
	{{ partial "header" . }}
	<div class="content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-lg-8">
					<div class="mx-0">{{ partial "face" .}}</div>
					<hr />
					<div class="mx-0 chunk-sm posts">
						<div class="row recent-articles">
							<h4
								class="justify-content-center some-weight col-auto"
								style="margin-bottom: 0px"
							>
								최근 글
							</h4>
						</div>
						{{ range .Data.Pages.GroupByDate "2006" "desc" }} 
							{{ range (sort .Pages "Date" "desc") }} 
								{{ partial "globallist" . }} 
							{{ end }} 
						{{ end }}
						<div class="container">
							<span class="justify-content-center row col-auto mx-0 chunk-sm">
								<a
									class="col-auto more-links justify-content-center text-center"
									href="{{ .Permalink }}{{ if .Site.Params.archive }}{{ .Site.Params.archive }}{{ else }}blog{{ end }}"
								>
									더 많은 글
								</a>
							</span>
						</div>
					</div>
					{{ partial "footer" . }}
				</div>
			</div>
		</div>
	</div>
{{ end }}
